{% extends "admin/base_site.html" %}
{% load i18n static %}
{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
	<div style="margin-right: 10px; background: var(--amarelo); border-radius: 10px; float: left">
		<img src="{% static 'ufca.png' %}" width="70px"> 
	</div>

	<div style="float: left">
		<h1 id="site-name">
			<a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a>
		</h1>
	</div>

{% endblock %}

        {% block usertools %}
        {% if user %}
        <div id="user-tools">
            {% block welcome-msg %}
                {% translate 'Welcome,' %}
                <strong>{% firstof user.get_short_name user.get_username %}</strong>.
            {% endblock %}
            {% block userlinks %}
                {% if site_url %}
                    <a href="{{ site_url }}">{% translate 'View site' %}</a> /
                {% endif %}
                {% if user.is_active and user.is_staff %}
                    {% url 'django-admindocs-docroot' as docsroot %}
                    {% if docsroot %}
                        <a href="{{ docsroot }}">{% translate 'Documentation' %}</a> /
                    {% endif %}
                {% endif %}
                {% if user.has_usable_password %}
                <a href="{% url 'admin:password_change' %}">{% translate 'Change password' %}</a> /
                {% endif %}
                <a href="{% url 'admin:logout' %}">{% translate 'Log out' %}</a>
            {% endblock %}
        </div>
        {% endif %}
        {% endblock %}
 
{% block nav-global %}{% endblock %}
